/* @font-face{
	font-family: "Roboto";
	src:
		url("../fonts/Roboto-Regular-webfont.eot") format("eot"),
		url("../fonts/Roboto-Regular-webfont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

 @font-face{
	font-family: "Roboto";
	src:
		url("../fonts/Roboto-Medium-webfont.eot") format("eot"),
		url("../fonts/Roboto-Medium-webfont.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

 @font-face{
	font-family: "Roboto";
	src:
		url("../fonts/Roboto-Bold-webfont.eot") format("eot"),
		url("../fonts/Roboto-Bold-webfont.woff") format("woff");
	font-weight: 700;
	font-style: normal;
} */

*, *::before, ::after{
	box-sizing: inherit;
}

html{
	box-sizing: border-box;
}

body{
	min-width: 900px;
	
	font-family: "Roboto", Tahoma, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	background-color:#849d8f;
}

a{
	text-decoration: none;
	cursor: pointer;
}

.menu-list,
.submenu-list,
.slider-controls,
.slider-list,
.header-buttons-list,
.catalog-list,
.gllacy-info-list,
.social-links,
.footer-info-list,
.pagination{
	margin: 0;
	padding: 0;
	list-style: none;
}

.link{
	color: #ffffff;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.link:hover,
.link:focus{
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container{
	position: relative;
	max-width:1200px;
	padding: 0 27px;
	margin: 0 auto;
}

.page-header{
	padding-top: 8px;
}


.menu{
	display: flex;
	min-height: 70px;
	align-items: center;

}

.logo{
	margin-right: 9px;
}

/* Меню */

.menu-list {
	max-width: 600px;
	margin-right: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.menu-item {
	position: relative;
	padding: 5px 0 20px 0;
}

.menu-link{
	position: relative;
	display: inline-block;
	white-space: nowrap;
	padding: 6px 14px;
	
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 700;
	border-radius: 16px;
}

.menu-link::after{
	content: "";
	position: absolute;
	bottom: 5px;
	left: 15px;
	
	width: calc(100% - 30px);
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
}

.menu-link:hover::after,
.menu-link:focus::after,
.menu-link:active::after,
.menu-item-current > .menu-link::after{
	display: none;
}

.menu-link:hover,
.menu-link:focus,
.menu-item:hover .menu-link{
	color: #323232;
	background-color: #ffffff;
}

.menu-link:active{
	box-shadow: inset 0 2px 1px #696969;
}

.menu-item-current >.menu-link{
	background-color: #d07058;
	color: #ffffff;
}

.submenu-list{
	display: none;
	position: absolute;
	left: -7px;
	top: 40px;
	z-index: 1;
	
	background-color: #ffffff;
	border-radius: 7px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	padding: 5px 0;
}

.submenu-item{
	margin-top: 5px;
}

.submenu-item:first-child{
	margin-bottom: 10px;
}

.submenu-link{
	display: block;
	white-space: nowrap;
	margin: 5px 0;
	padding: 5px 15px;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	border-bottom: none;
}
.submenu-link:hover,
.submenu-link:focus,
.submenu-link-active:hover,
.submenu-link-active:focus{
	background-color: #fbded7;
	color: #323232;
}

.submenu-link:active,
.submenu-link-active:active{
	background-color: #f6b5a5;
}

.submenu-item:first-child .submenu-link{
	position: relative;
	line-height: 20px;
	font-weight: 700;
}

.submenu-item:first-child::after{
	content: "";
	position: absolute;
	top: 45px;
	left: 0;
	right: 0;
	margin: auto;

	width: 90%;
	height: 1px;
	background-color: rgba(0,0,0, 0.2);
}

.submenu-link-active{
	color: #ffffff;
	background-color: #d07058;
}

.menu-item:hover > .submenu-list,
.menu-item:focus > .submenu-list{
	display: inline-block;;
}

/* Кнопки */

.button{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.65);
	border: none;
	cursor: pointer;
}

.button:hover,
.button:focus{
	background-image: 
		linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
		linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
}

.button:active{
	background-image: 
		linear-gradient(to bottom,rgba(0, 0, 0, 0.07),rgba(0, 0, 0, 0.07)),
		linear-gradient(to bottom, rgb(231, 74, 53), rgb(242, 104, 67));
	box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

/* Кнопки в шапке */

.header-buttons-list{
	margin-left: auto;
	margin-bottom: 10px;
	min-width: 260px;
	max-width: 265px;
	display: flex;
	justify-content: flex-end;
}

.header-buttons-list > li{ 
	position: relative;
	padding: 15px 0 20px 0;
}

.header-buttons{
	margin-left: 9px;
	
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.2);
	background-repeat: no-repeat;
	border: none;
	border-radius: 16px;
	
	cursor: pointer;
}

.header-buttons:hover,
.header-buttons:focus{
	color: #000000;
	background-color: #ffffff;
}

.button-search{
	padding: 16px;
	background-image: url("../img/search-icon.svg");
	background-position: 50% 50%;
}

.button-search:hover,
.button-search:focus{
	background-image: url("../img/search-black-icon.svg");
}

.button-enter,
.button-cart{
	padding: 8px 14px 8px 45px;
	background-position: 17px center;
}

.button-enter{
	background-image: url("../img/enter-icon.svg");
}


.button-enter:hover,
.button-enter:focus{
	background-image: url("../img/enter-black-icon.svg");
}

.button-cart{
	background-image: url("../img/cart-icon.svg");
}

.cart-active{
	color: #323232;
	background-color: #ffffff;
	background-image: url("../img/cart-icon-active.svg");
}

.cart-content{
	display: inline-block;
	white-space: nowrap;
	min-width: 60px;
}

.button-cart:hover,
.button-cart:focus{
	background-image: url("../img/cart-black-icon.svg");
}

.cart-active:hover,
.cart-active:focus{
	background-image: url("../img/cart-icon-active.svg");
}

.header-contacts{
	position: relative;
	min-height: 40px;
}

.header-contacts-wrap{
	position: absolute;
	top: -15px;
	right: 0;
	
	text-align: right;
}

.header-schedule{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
}

.header-phone{
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	border-bottom: none;
	background-position: 50% 0;
}

/* Слайды */

.slide-wrapper{
	background-color: #849d8f;
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: top center;
	
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.non-display-input{
	display: none;
}

.slide-wrapper::before,
.slide-wrapper::after {
  content: "";

  visibility: hidden;
}

.slide-wrapper::before {
  background-image: url("../img/slide-1.png");
}

.slide-wrapper::after {
  background-image: url("../img/slide-1.png");
}

.slider{
	position: relative;
	padding-top: 268px;
	margin-bottom: 40px;
	
	text-align: center;
	color: #ffffff;
}

.slide{
	display: none;
}

#btn-1:checked ~ .slide-wrapper .slide-1,
#btn-2:checked ~ .slide-wrapper .slide-2,
#btn-3:checked ~ .slide-wrapper .slide-3{
	display: block;
}

#btn-1:checked ~ .slide-wrapper label[for="btn-1"],
#btn-2:checked ~ .slide-wrapper label[for="btn-2"],
#btn-3:checked ~ .slide-wrapper label[for="btn-3"]{
	background-color: #ffffff;
}

.slide-wrapper label[for="btn-1"]:hover,
.slide-wrapper label[for="btn-2"]:hover,
.slide-wrapper label[for="btn-3"]:hover{
	background-color: rgba(255, 255, 255, 0.4);
}

#btn-1:checked ~ .slide-wrapper{
	background-color: #849d8f;
	background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .slide-wrapper{
	background-color: #8996a6;
	background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .slide-wrapper{
	background-color: #9d8b84;
	background-image: url("../img/slide-3.png");
}

.slider-title{
	width: 700px;
	margin: 0 auto 30px auto;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	text-align: center;
}

.button-slider{
	padding: 10px 41px;
	
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	text-shadow: 2px 0 5px rgba(160, 32, 11, 0.75);
	border-radius: 32px;
}

.slider-controls{
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: 20;
	
	font-size: 0;
}
.slider-controls li{
	display: inline-block;
}

.slider-controls label{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 9px;

	vertical-align: top;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

/* Бонусы */

.bonus-stuff .container{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.bonus-item{
	display: flex;
	flex-direction: column;
	flex-basis: 48%;
	max-width: 560px;
	min-height: 230px;
	flex-grow: 1;
	
	
	padding: 25px 18px;
	margin-bottom: 30px;
	
	background-repeat: no-repeat;
	background-position: 0 0;
	border-radius: 15px;
	background-size: cover;
}

.bonus-item:nth-of-type(2n + 1){
	margin-right: 26px; 
}

.bonus-item-title{
	margin: 0;
	padding: 0;
	font-size: 35px;
	font-weight: 700;
	
	margin-bottom: 25px;
}

.bonus-item-description{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 700;
	background-size: cover;
}

.bonus-1{
	background-color: #761326;
	background-image: url("../img/raspberries.jpg");
	background-size: cover;
}

.bonus-2{
	background-color: #422a20;
	background-image: url("../img/chocolate.jpg");
}

.button-bonus{
	margin-left: auto;
	margin-top: auto;
	padding: 10px 20px;
	border-radius: 25px;
}

/*Карточки товаров*/

.catalog-container{
	padding: 0 13px;
}

.catalog-list{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.catalog-item{
	position: relative;
	z-index: 10;
	
	flex-basis: 25%;
	min-width: 200px;
	max-width: 293px;
	padding: 10px 13px;
	margin-bottom: -45px;
	
	text-align: center;
	border-radius: 5px;
}

.catalog-link{
	position: relative;
	display: inline-block;
	border-bottom: none;
}

.catalog-item:hover,
.catalog-item:focus{
	z-index: 20;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4)
}

.catalog-item:hover > .button-catalog,
.catalog-item:focus > .button-catalog{
	visibility: visible;
}

.catalog-photo{
	position: relative;
	margin-bottom: 7px;
	max-width: 267px;
	min-width: 200px;
}

.catalog-photo img{
	width: 100%;
	border-radius: 50%;
}

.hit .catalog-photo::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 60px; 
	height: 60px;
	background: url("../img/hit.svg") no-repeat 0 0;
	background-size: cover;
}

.catalog-price{
	margin: 0;
	padding: 0;
	
	position: absolute;
	left: 0px;
	bottom: 20px;
}

.catalog-price,
.catalog-price:hover{
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-size: 45px;
	font-weight: 700;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.ruble-icon{
	padding: 0 18px;
	font-size: 30px;
	line-height: 30px;

	background-image: url("../img/ruble-icon.png");
	background-repeat: no-repeat;
	background-size: 27px 34px;
	background-position: 6px 0px;
}

.weight{
	font-size: 30px;
}

.catalog-title{
	display: inline;

	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.button-catalog{
	display: block;
	visibility: hidden;
	padding: 10px 15px; 
	margin: 10px auto;
	font-size: 18px;
	line-height: 20px;
	border-radius: 20px;
	
	white-space: nowrap;
}

/* Презентационный блок */

.gllacy-info{
	padding: 25px 20px 10px 20px;
	margin-bottom: 40px;
	margin-top: 15px;
	color: #323232;

	border-radius: 15px;
	background: #eee1c5 url("../img/wafer.jpg") repeat 0 0;
	background-size: cover;
}

.gllacy-info-title{
	margin:0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

.gllacy-info-list{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-size: 16px;
	line-height: 22px;
	
	list-style-type: none;
}

.info-list-item{
	position: relative;
	padding: 5px 0 0 55px;
	flex-basis: 49%;
	margin-bottom: 15px;

}

.info-list-item:nth-child(2n+1){
	margin-right: 2%;
}

.info-list-item::before{
	content: "";
	position: absolute;
	top: -10px;
	left: 0px;
	width: 50px;
	height: 50px;
}

.icecream-icon::before{
	background: url("../img/icecream-icon.svg") no-repeat 0 0;
}

.leaf-icon::before{
	background: url("../img/leaf-icon.svg") no-repeat 0 0;
}

.cow-icon::before{
	background: url("../img/cow-icon.svg") no-repeat 0 0;
}

.thermometer-icon::before{
	background: url("../img/thermometer-icon.svg") no-repeat 0 0;
}

/* Блог и подписка*/

.blog-and-subscribe .container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

/* Новое в блоге */

.blog-news{
	flex-basis: 49%;
	margin-right: 26px;
	padding: 25px 20px;
	
	color: #323232;
	background: #ffffff url("../img/blog-news-back.jpg") no-repeat bottom 0 right 0;
	background-size: cover;
	border-radius: 15px;
}

.blog-news-caption{
	margin:0;
	padding: 0;
	margin-bottom: 4px;

	
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.blog-news-title{
	padding: 0;
	margin: 0;
}

.blog-news-link{
	
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
	background-color: rgba(255, 255, 255, 0.8);
}

/* Подписка */

.subscribe{
	flex-basis: 49%;
	padding: 5px;
	color: #5a5a5a;
	background-image: repeating-linear-gradient(135deg, #ffffff 0px, #ffffff 5px, #92cdff 5px, #92cdff 10px, #ffffff 10px, #ffffff 15px, #fe9e90 15px, #fe9e90 20px);
	border-radius: 15px;
}

.subscribe-form{
	padding: 30px 22px;
	background-color: #ffffff;
	border-radius: 15px;
}

.subscribe-field{
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	position: relative;
	display: flex;
	justify-content: flex-start;
}

.subscribe-description{
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.subscribe-input-field{
	padding: 10px 15px;
	flex-grow: 1;

	font-family: inherit;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.5);
}

.subscribe-input-field:hover{
	padding: 9px 14px;
	border: 2px solid rgba(178, 178, 178, 0.5);
}

.subscribe-input-field:focus{
	padding: 9px 14px;
	border-color: #2e88e4;
	border-radius: 5px;
	outline: none;
}

.button-subscribe{
	padding: 11px 15px;
	margin-left: 10px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	border-radius: 23px;
}

/* карта */

.contacts{
	position: relative;
	overflow:hidden;
	
	min-height: 430px;
}

.contacts-map{
	position: absolute;
	width: 100%;
	height: 100%;
}

.contacts-map img{
	position: absolute;
	left: center;
	height: 430px;
	
}

.contacts .container{
	position: relative;
}

.contacts-block{
	float: right;
	width: 300px;
	padding: 30px 25px;
	margin: 60px 0 60px auto;
	
	background-color: #f8f7f4;
	color: #323232;
	border-radius: 15px;
}

.contacts-block::after{
	clear: both;
}

.contacts-link-tel,
.contacts-link-tel:hover,
.contacts-link-tel:active{
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 5px;
	color: #323232;
	border-color: #ffffff;
}

.contacts-caption{
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	max-width: 230px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.contacts-caption-strong{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.feedback-button{
	padding: 10px 20px;
	
	font-size: 18px;
	line-height: 24px;
	border-radius: 22px;
}

/* Футер */

.page-footer .container{
	display: flex;
	padding-bottom: 24px;
	margin-top: 15px;

	align-items: flex-start;
	justify-content: space-between;
}
.social-links{
	margin-top: 20px;
}

.social-item{
	display: inline;
	margin-right: 7px;
	opacity: 0.8;
}

.social-item:hover,
.social-item:focus{
	opacity: 1;
}

.social-item:last-child{ margin-right: 0;}

.social-item a{
	border-bottom: none;
	border-radius: 50%;
}


.social-links img{
	width: 39px;
	height: 39px;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.2)
}

.social-item :active img{
	filter: brightness(85%);
}

.footer-info{
	display: flex;
	margin-top: 15px;
	margin-left: 35px;
}

.footer-info-list{
	display: flex;
	flex-direction: column;
	max-width: 330px;
	white-space: nowrap;
	color: #ffffff;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
}

.footer-info-item{
	margin-right: 30px;
	max-width: 180px;
}

.footer-info-heart{
	position: relative;
	font-weight: 700;
}

.footer-info-heart::before{
	content: "";
	position: absolute;
	top: 5px;
	left: -22px;
	
	width: 15px;
	height: 15px;
	background: url("../img/heart-icon.svg") no-repeat 0 0;
}

.copyright-caption{
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
}

/* логотип на внутренней странице*/

.logo-link{
	border-bottom: none;
}

/* Рамка после main на внутренних страницах*/

.inner-page-line{
	border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Хлебные крошки*/

.breadcrumbs-list{
	position: absolute;
	bottom: 3px;
	
	margin: 0;
	padding: 0;
	list style: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.breadcrumbs-item{
	position: relative;
	display: inline-block;
	margin-right: 18px;
}

.breadcrumbs-item::after{
	content: "»";
	right: -15px;
	position: absolute;
}

.breadcrumbs-item:last-child::after{
	content: "";
	position: absolute;
}

/* h1*/

.main-title{
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}

/* Фильтр товаров */

.filter-form{
	display: flex;
	min-width: 860px;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.catalog-field{
	padding: 0;
	margin-bottom: 15px;
	border:none;	
}

.catalog-field-sort{
	flex-basis: 193px;
	margin-right: 13px;
}

.catalog-field-price{
	position: relative;
	flex-basis: 215px;
	margin-right: 15px;
}

.catalog-field-fat{
	flex-basis: 415px;
}

.catalog-field-taste{
	flex-basis: 700px;
	margin-right: 10px;
}

.catalog-legend{
	padding-left: 15px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.style-select{
	width: 192px;
	overflow: hidden;
	border-radius: 18px;
}

.catalog-select{
	width: 225px;
	padding: 8px 10px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;

	background: rgba(255, 255, 255, 0.2) url("../img/icon-down-white.svg") no-repeat 167px 13px;
	border:none;
	cursor: pointer;
}

.catalog-select:hover{
	color: #323232;
	background: rgba(255, 255, 255, 0.2) url("../img/icon-down-black.svg") no-repeat 167px 13px;
}

.catalog-select:active,
.catalog-select:focus{
	color: #323232;
	background: #ffffff url("../img/icon-down-black.svg") no-repeat 167px 13px;
}

.catalog-select option{
	color: #323232;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.field-fat-wrapper,
.field-taste-wrapper{
	padding: 7px 15px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
}

.radio-label{
	position: relative;
	padding-left: 30px;
	margin-right: 16px;
	white-space: nowrap;
	
	cursor: pointer;
}

.radio-label:last-child{
	margin-right: 0;
}

.radio-label::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.8);
}

.radio-label:hover::before,
.radio-label:focus::before{
	border-color: #ffffff;
}

#filter-fat-0:checked ~ .radio-label[for="filter-fat-0"]::after,
#filter-fat-10:checked ~ .radio-label[for="filter-fat-10"]::after,
#filter-fat-30:checked ~ .radio-label[for="filter-fat-30"]::after,
#filter-fat-over-30:checked ~ .radio-label[for="filter-fat-over-30"]::after{
	content: "";
	position: absolute;
	top: 7px;
	left: 7px;
	
	width: 8px;
	height: 8px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
}

#filter-fat-0 ~ .radio-label[for="filter-fat-0"]:hover::after,
#filter-fat-0:focus ~ .radio-label[for="filter-fat-0"]::after,
#filter-fat-10 ~ .radio-label[for="filter-fat-10"]:hover::after,
#filter-fat-10:focus ~ .radio-label[for="filter-fat-10"]::after,
#filter-fat-30 ~ .radio-label[for="filter-fat-30"]:hover::after,
#filter-fat-30:focus ~ .radio-label[for="filter-fat-30"]:focus::after,
#filter-fat-over-30 ~ .radio-label[for="filter-fat-over-30"]:hover::after,
#filter-fat-over-30:focus ~ .radio-label[for="filter-fat-over-30"]::after{
	background-color: #ffffff;
}

#filter-fat-0:disabled ~ .radio-label[for="filter-fat-0"]::after,
#filter-fat-10:disabled ~ .radio-label[for="filter-fat-10"]::after,
#filter-fat-30:disabled ~ .radio-label[for="filter-fat-30"]::after,
#filter-fat-over-30:disabled ~ .radio-label[for="filter-fat-over-30"]::after{
	background-color: rgba(255, 255, 255, 0.4);
}

#filter-fat-0:disabled ~ .radio-label[for="filter-fat-0"]::before,
#filter-fat-10:disabled ~ .radio-label[for="filter-fat-10"]::before,
#filter-fat-30:disabled ~ .radio-label[for="filter-fat-30"]::before,
#filter-fat-over-30:disabled ~ .radio-label[for="filter-fat-over-30"]::before{
	border-color: rgba(255, 255, 255, 0.4);
}

.checkbox-label{
	position: relative;
	padding-left: 30px;
	margin-right: 19px;
	
	cursor: pointer;
}

.checkbox-label:last-child{
	margin-right: 0;
}

.checkbox-label::after{
	content: "";
	
	position: absolute;
	top: 0;
	left: 0;
	
	opacity: 0.8;
	width: 24px;
	height: 23px;
	background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

#chocolate:checked ~.checkbox-label[for="chocolate"]::after,
#sugar:checked ~.checkbox-label[for="sugar"]::after,
#fruits:checked ~.checkbox-label[for="fruits"]::after,
#syrup:checked ~.checkbox-label[for="syrup"]::after,
#jam:checked ~.checkbox-label[for="jam"]::after{
	content: "";
	
	width: 26px;
	height: 23px;
	
	background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.checkbox-label:hover::after{
	opacity: 1;
}

#chocolate:disabled ~.checkbox-label[for="chocolate"]::after,
#sugar:disabled ~.checkbox-label[for="sugar"]::after,
#fruits:disabled ~.checkbox-label[for="fruits"]::after,
#syrup:disabled ~.checkbox-label[for="syrup"]::after,
#jam:disabled ~.checkbox-label[for="jam"]::after{
	opacity: 0.4;
}

.field-price-wrapper{
	position: relative;
	padding: 16px 20px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
}

.scale{
	
	height: 4px;
	background: rgba(255, 255, 255, 0.5);
}

.bar{
	width: 60%;
	margin-left: 20%;
	height: 4px;
	background: #ffffff;
}

.toggle{
	position: absolute;
	top: 8px;
	height: 20px;
	width: 20px;
	
	border: 8px solid #ffffff;
	border-radius: 50%;
	background: #ababab;
	
	cursor: pointer;
}

.toggle:hover{
	top: 7px;
	
	border: 9px solid #ffffff;
	height: 22px;
	width: 22px;
}

.toggle-min{
		left: 15%;
}

.toggle-max{
		right: 30%;
}

.button-filter{
	padding: 7px 30px;
	margin-bottom: 15px;
	margin-top: auto;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid #ffffff;
	border-radius: 18px;
	
	cursor: pointer;
}

.button-filter:hover,
.button-filter:focus{
	color: #323232;
	background-color: #ffffff;
}

.button-filter:active{
	padding: 9px 32px;
	color: #323232;
	background-color: #eaeaea;
	box-shadow: inset 0 2px 1px #696969;
	border: none;
}

/* пагинация*/

.pagination{
	margin-bottom: 30px;
	margin-top: 55px;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: flex-end;
	list-style: none;
}

.pagination-item{
	display: inline-block;
	margin-right: 2px;
}

.pagination-link{
	display: inline-block;
	min-width: 28px;
	padding: 5px 0;
	
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	border: none;
	border-radius: 14px;
}

.pagination-link:hover,
.pagination-link:focus{
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination-link:active,
.pagination-active{
	color: #323232;
	background-color: #ffffff;
}

.pagination-prev-link,
.pagination-next-link{
	position: relative;
	display: inline-block;
	width: 18px;
	height: 23px;
	
	background: transparent;
}

.pagination-prev-link::before,
.pagination-next-link::before{
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
	
	border: 1px solid #ffffff;
}

.pagination-prev-link::before{
	left: 0;
	border-top-color: transparent;
	border-right-color: transparent;
}

.pagination-next-link::before{
	right: 0;
	border-bottom-color: transparent;
	border-left-color: transparent;
}


.pagination-disabled-link::before{
	opacity: 0.3;
}



/* Модальные окна */

.modal{
	display: none;
	color: #323232;
	background-color: #f8f7f4;
	box-shadow: 0 20px 20px rgba(0, 0 , 0, 0.4);
}

.form-wrapper{
	margin: 0 0 20px 0;
	padding: 0;
}

.form-wrapper:last-child{
	margin-bottom: 0;
}

.modal-feedback{
	width: 480px;
	min-height: 445px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 40;
	
	margin-top: -225px;
	margin-left: -240px;
	
	filter: none;
	padding: 20px 25px;
	border-radius: 10px;
	
	animation: modal-feedback-animation 0.5s;
	animation-timing-function:ease-in-out;
	
}

.modal-feedback-back{
	filter: brightness(60%);
}

.modal-search{
	position: absolute;
	z-index: 30;
	top: 52px;
	right: 0;
	
	width: 340px;
	padding: 20px 15px;
	border-radius: 5px;
}

.modal-enter{
	position: absolute;
	z-index: 20;
	top: 52px;
	right: 0;

	
	width: 277px;
	padding: 20px;
	border-radius: 5px;
}

.modal-input{
	width: 100%;
	padding: 10px 15px;
	
	font-family: inherit;
	line-height: 22px;
	font-weight: 400;
	border: 1px solid rgba(178, 178, 178, 0.5);
	border-radius: 5px;
}

.input-part{
	width: 270px;
	
}

.modal-input:hover,
.modal-input:focus{
	border-width: 2px;
	padding: 9px 14px;
}

.modal-input:focus{
	border-color: #2e88e4;
	border-width: 2px;
	border-radius: 5px;
	outline: none;
} 

.modal-input-header{
	font-size: 14px;
}

.form-search,
.form-enter{
	
	font-size: 14px;
}

.form-search{
	width: 100%;
	position: relative;
}

.button-login{
	vertical-align: top;
	padding: 10px 23px;
	margin-right: 10px;
	font-size: 18px;
	line-height: 24px;
	border-radius: 22px;
}

.enter-help{
	display: inline-block;
	position: relative;
	top: -5px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.enter-link{
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #323232;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.feedback-form{
	display: flex;
	flex-direction: column;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.feedback-caption{
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	
}

.feedback-textarea{
	font-family: inherit;
	min-height: 155px;
	
}

.button-feedback-form{
	align-self: flex-end;
	padding: 10px 20px;
	margin-bottom: 10px;
	
	font-size: 18px;
	line-height: 24px;
	border-radius: 22px;
}

.close-modal{
	position: absolute;
	top: 15px;
	right: 15px;
	
	padding: 10px;
	background: #f8f7f4 url("../img/close-icon.svg") no-repeat 0 0;
	
	border: none;
	cursor: pointer;
}

@keyframes modal-error-animation{
	0%, 100% { transform: translateX(0);}
	10%, 50%, 90% { transform: translateX(-5px); }
	30%, 70% { transform: translateX(+5px); }
	
}

.modal-error{
	animation: modal-error-animation 0.5s;
}

@keyframes modal-feedback-animation{
	0% {transform: scale(0);}
	100% {transform: scale(1);}
}


/*Корзина c товарами*/

.cart-box{
	position: absolute;
	z-index: 30;
	top: 52px;
	right: 0;
	padding: 20px 15px;

	width: 540px;
	
	font-size: 13px;
	line-height: 16px;
	
	border-radius: 5px;
}

.cart-inner{
	border-collapse: collapse;
}

.cart-inner td{
	vertical-align: top;
	height: 55px;
}

.cart-inner-delete{
	padding:5px 0;
	width: 20px;
	
}

.cart-delete-button{
	display: inline-block;
	padding: 5px;
	background: #f8f7f4 url("../img/close-icon.svg") no-repeat 0 0;
	background-size: cover;
	
	border: none;
	cursor: pointer;
}

.cart-inner-photo{
	padding: 0;
}

.cart-inner td:nth-child(3){
	max-width: 250px;
	padding: 10px 15px;
}

.cart-inner td:nth-child(4),
.cart-inner td:nth-child(5){
	padding: 10px 15px;
}

.cart-inner-price{
	color: #999999;
}

.cart-inner-count td{
	padding: 15px 0;
	height: 50px;
	
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: right;
	
	color: #323232;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.button-inner-cart{
	display: block;
	margin-left: auto;
	padding: 10px 15px;
	border-radius: 22px;
}

.modal-show{
	display: block;
}


@media screen and (min-width:900px) and (max-width : 980px){
	.container{
		width: 900px;
		padding: 0 20px;
	}
	
	.bonus-item:nth-of-type(2n + 1){
	margin-right: 20px;
}
	
	.catalog-container{
	padding: 0 5px;
	}
	
	.catalog-item{
		padding: 10px;
	}
	
	.catalog-price{
		bottom: 25px;
	}
	
	.button-catalog{
	padding: 10px 12px; 
	}
	
	.catalog-photo{
		margin-bottom: 4px;
	}
	
	.subscribe-description{
		margin-bottom: 10px;
	}
	
	.blog-news{
		margin-right: 20px;
}