* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

body{
	font-family: "Roboto", Tahoma, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	background-color:#849d8f;
}

a{
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.menu ul,
.menu-list ul,
.header-buttons{
	list-style: none;
}

/*убрать при верстке шапки, это чтобы было видно как субменю заходит за главное меню*/
.menu-list {	margin-left: 40px;}

.menu-link{
	display: inline-block;
	color: #ffffff;
	font-weight: 700;
}

.menu-item {
	position: relative;
	display: inline-block;
	margin-right: 30px;
	padding: 5px 15px 5px 15px;
	
	font-size: 16px;
	line-height: 20px;
}

.menu-item:last-child{margin-right: 0;}

.menu-item:hover,
.menu-item:focus {
	background-color: #ffffff;
	border-radius: 16px;
}

.menu-item:hover .menu-link,
.menu-item:focus .menu-link{
	color: #000000;
	border-color:#ffffff;
}

.menu-list .menu-item-current{
	background-color: #d07058;
	border-radius: 16px;
}

.menu-item-current .menu-link{
	color: #ffffff;
	border-color:#d07058;
}

.menu-item-current:hover,
.menu-item-current:focus{
	background-color: #ffffff;
	border-radius: 16px;
}

.menu-item-current:hover .menu-link,
.menu-item-current:focus .menu-link{
	color: #000000;
	font-weight: 700;
	border-color:#ffffff;
}

.menu-item:active{
	box-shadow: inset 0 2px 1px #696969;
}

.submenu-list{
	position: absolute;
	left: -5px;
	top: 35px;

	font-size: 14px;
	background-color: #ffffff;
	border-radius: 7px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.submenu-item{
	line-height: 18px;
	margin-bottom: 5px;
}

.submenu-link{
	display: inline-block;
	white-space: nowrap;
	margin: 5px;
	padding-left: 15px;
	padding-right: 20px;
	color: #000000;
	border-bottom: none;
}

.submenu-item:first-child{
	margin: 5px 0;
}

.submenu-item:first-child .submenu-link{
	line-height: 20px;
	font-weight: 700;
}

.submenu-item:first-child::after{
	content: "";
	position: absolute;
	top: 40px; 
	left: 5%;

	width: 90%;
	height: 1px;
	background-color: rgba(0,0,0, 0.2);
}

.submenu-item:hover,
.submenu-item:focus{
	background-color: #fbded7;
}

.submenu-list .submenu-item:active{
	background-color: #f6b5a5;
}

.submenu-list{
	display: none;
} 

.menu-list li:hover > .submenu-list,
.menu-list li:focus > .submenu-list{
	display: block;
}


/* Кнопки */

.button{
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	text-shadow: 2px 0 5px rgba(160, 32, 11, 0.76);
	background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.65);
	border: none;
	cursor: pointer;
}

.button:hover,
.button:focus{
	background-image: 
		linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
		linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
}

.button:active{
	background-image: 
		linear-gradient(to bottom,rgba(0, 0, 0, 0.07),rgba(0, 0, 0, 0.07)),
		linear-gradient(to bottom, rgb(231, 74, 53), rgb(242, 104, 67));
	box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

.header-buttons{
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.2);
	background-repeat: no-repeat;
	border: none;
	border-radius: 16px;
}

.header-buttons:hover,
.header-buttons:focus{
	color: #000000;
	background-color: #ffffff;
}

.button-search{
	padding: 16px;
	background-image: url("../img/search-icon.svg");
	background-position: 50% 50%;
}

.button-search:hover,
.button-search:focus{
	background-image: url("../img/search-black-icon.svg");
}

.button-enter,
.button-cart{
	padding: 8px 15px 8px 45px;
	background-position: 16px 50%;
}

.button-enter{
	background-image: url("../img/enter-icon.svg");
}


.button-enter:hover,
.button-enter:focus{
	background-image: url("../img/enter-black-icon.svg");
}

.button-cart{
	background-image: url("../img/cart-icon.svg");
}

.cart-content{
	display: inline-block;
	width: 55px;
}

.button-cart:hover,
.button-cart:focus{
	background-image: url("../img/cart-black-icon.svg");
}

.header-schedule{
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
}

.header-phone{
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	border-bottom: none;
	background-position: 50% 0;
}

/* Слайды, пока не буду дооформлять, в целом поняла что делать, курсы посмотрю еще по этим штучкам, вернусь к ним.*/

.slide{
	position: relative;
	
	height: 880px;
	background-repeat: no-repeat;
	background-position: 50% 0;
}


.slide-1{
	background-image: url("../img/slide-1.png");
}

.slide-2{
	background-image: url("../img/slide-2.png");
}

.slide-3{
	background-image: url("../img/slide-3.png");
	background-repeat: no-repeat;
}

.slider-title{
	font-size: 60px;
	line-height: 64px;
	font-weight: 700;
	text-align: center;
}

.button-slider{
	padding: 15px 35px;
	font-size: 32px;
	border-radius: 32px;
}

/* Бонусы */

.bonus-item{
	padding: 25px 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
	border-radius: 15px;
}

.bonus-item-title{
	font-size: 35px;
	font-weight: 700px;
	margin-bottom: 20px;
}

.bonus-item-description{
	font-size: 18px;
	font-weight: 700px;
	margin-bottom: 45px;
}

.bonus-1{
	background-color: #761326;
	background-image: url("../img/raspberries.jpg");
}

.bonus-2
{
	background-color: #422a20;
	background-image: url("../img/chocolate.jpg");
}

.button-bonus{
	padding: 13px 17px;
	border-radius: 25px;
}

/*Карточки товаров*/

.catalog-item{
	padding: 5px 13px 20px 13px;
	border-radius: 5px;
}

.catalog-item:hover,
.catalog-item:focus{
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4)
}

.catalog-item:hover > .button-catalog,
.catalog-item:focus > .button-catalog{
	visibility: visible;
}

.catalog-photo{
	position: relative;
}

.catalog-photo img{
	border-radius: 50%;
	background-color: pink;
}

.hit .catalog-photo::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 60px; 
	height: 60px;
	background: url("../img/hit.svg") no-repeat 0 0;
	background-size: cover;
}

.catalog-price,
.catalog-price:hover{
	color: #ffffff;
	font-size: 45px;
	font-weight: 700;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* я бы лучше запилила svg один под другой, в картинках есть вариант ruble-icon-cover, хотя думаю всем пофиг */

.ruble-icon{
	padding: 0 15px;

	background-image: url("../img/ruble-icon.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 2px 12px;
	
}

.weight{
	font-size: 30px;
}


.catalog-title{
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
}

.button-catalog{
	display: block;
	visibility: hidden;
	padding: 10px 15px; 
	margin: 10px auto;
	font-size: 18px;
	line-height: 20px;
	border-radius: 20px;
}

/* Презентационный блок */

.gllacy-info{
	padding: 20px 25px;
	margin-bottom: 40px;
	color: #323232;

	border-radius: 15px;
	background-color: #eee1c5;
	background: url("../img/wafer.jpg") repeat 0 0;
}

.gllacy-info-title{
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.gllacy-info-list{
	margin-top: 15px;
	margin-left: 55px;
	font-size: 16px;
	line-height: 22px;
	
	list-style-type: none;
}

.gllacy-info-list li{
	position: relative;
}

.gllacy-info-list li::before{
	content: "";
	position: absolute;
	top: -10px;
	left: -55px;
	width: 50px;
	height: 50px;
}

.icecream-icon::before{
	background: url("../img/icecream-icon.svg") no-repeat 0 0;
}

.leaf-icon::before{
	background: url("../img/leaf-icon.svg") no-repeat 0 0;
}

.cow-icon::before{
	background: url("../img/cow-icon.svg") no-repeat 0 0;
}

.thermometer-icon::before{
	background: url("../img/thermometer-icon.svg") no-repeat 0 0;
}

/* Новое в блоге */

.blog-news{
	min-height: 220px;
	margin-bottom: 40px;
	padding: 25px 20px;
	
	color: #323232;
	background-color: #ffffff;
	background: url("../img/blog-news-back.jpg") no-repeat 0 0;
	border-radius: 15px;
}

.blog-news-caption{
	margin-bottom: 10px;
	
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.blog-news-link{
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	border-bottom: 2px solid rgba(50, 50, 50, 0.8);
}

/* Подписка */

.subscribe{
	min-height: 220px;
	margin-bottom: 40px;
	padding: 5px;
	color: #5a5a5a;
	background-image: repeating-linear-gradient(135deg, #ffffff 0px, #ffffff 5px, #92cdff 5px, #92cdff 10px, #ffffff 10px, #ffffff 15px, #fe9e90 15px, #fe9e90 20px);
	border-radius: 15px;
}

.subscribe-form{
	position: relative;
	min-height: 210px;
	padding: 40px 25px;
	background-color: #ffffff;
	border-radius: 15px;
}

.subscribe-description{
	margin-bottom: 40px;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

#subscribe-input{
	padding: 10px 15px;

	border-radius: 5px;
	font-size: 16px;
	border: 1px solid rgba(178, 178, 178, 0.5);
}

.subscribe-label{
	position: absolute;
	top: -20px;
	left: 0;

	padding-left: 15px;
	visibility: hidden;
}

#subscribe-input:focus +.subscribe-label{
	visibility: visible;
}

.button-subscribe{
	padding: 11px 20px;
	margin-left: 10px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	border-radius: 23px;
}

/* карта */

.contacts{
	position: relative;
}

.contacts-map{
	width: 100%;
	min-height: 370px;
}

.contacts-map img{
	position: absolute;
}

/*наверное их лучше в один блок запихать с картой? но он в контейнере, а карта нет, загадка.*/

.contacts-block{
	padding: 30px 20px;
	
	background-color: #ffffff;
	color: #323232;
	border-radius: 15px;
}

.contacts-block a{
	color: #323232;
	border-color: #ffffff;
}

.contacts-caption{
	margin-bottom: 25px;
	
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.contacts-caption-strong{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.feedback-button{
	padding: 10px 25px;
	margin-bottom: 10px;
	
	font-size: 18px;
	line-height: 24px;
	border-radius: 22px;
}

/* Футер */

.social-links li{
	display: inline;
	margin-right: 15px;
	opacity: 0.8;
}

.social-links li:hover,
.social-links li:focus{
	opacity: 1;
}

.social-links li:last-child{ margin-right: 0;}

.social-links li a{
	border-bottom: none;
	border-radius: 50%;
}

.social-links img{
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.2)
	
}

/* можно здесь сделать filter: brightness(90%); по макету активная иконка сероватая, но я в этих состояних почти не вижу разницы, прозрачность вроде лучше поддерживается. Некоторые ребята вообще вставили svg кодом и по наведению меняют fill, но мне кажется это не очень хорошо для кода */

.social-links li:active img{
	opacity: 0.9;
}

/*убрать при верстке футера, сделала, чтобы выровнять сердечко*/

.footer-info-list{ margin-left: 40px;}

.footer-info-list{
	list-style: none;
	
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}

.footer-info-list li:first-child{
	position: relative;
	font-weight: 700;
}

.footer-info-list li:first-child:before{
	content: "";
	position: absolute;
	top:2px;
	left: -22px;
	
	width: 15px;
	height: 15px;
	background: url("../img/heart-icon.svg") no-repeat 0 0;
}

.copyright-caption{
	font-size: 13px;
	line-height: 18px;
}

